# Dependency directories
node_modules/

#directories
uploads/productos/**.*
uploads/usuarios/**.*

# dotenv environment variables file
.env
.env.test
.env*.local

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace